{% extends "LogisticForOrder/base.html" %}
{% load static %}
{% block title %} 
Home Page 
{% endblock %}

{% block content %}
<div class="container">
<span class="mt-5" style="display: flex;color:#908282;justify-content: center;
    align-items: center;">Courier and Freight Rates</span>
<hr>
    <form method="POST">
        {% csrf_token %}        
        <div class="form-group">
        {{ form.courier.label_tag }}
        {{ form.courier }}
        {{ form.courier.errors }}
        {{ form.from_destination.label_tag }}
        {{ form.from_destination| safe}}
        {{ form.from_destination.errors }}
        {{ form.to.label_tag }}
        {{ form.to }}
        {{ form.to.errors }}
        </div>
        
        <div class="form-group">
        
        {{ form.min_kg_rate.label_tag }}
        {{ form.min_kg_rate }}
        {{ form.min_kg_rate.errors }}
        {{ form.per_kilo_thereafter.label_tag }}
        {{ form.per_kilo_thereafter }}
        {{ form.per_kilo_thereafter.errors }}
        </div>
        <input type="submit" value=" Add ">
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Courier</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Min - Kg</th>
            <th scope="col">Min kg Rate</th>
            <th scope="col">Per Kilo thereafter</th>
          </tr>
        </thead>
        <tbody>
        {% for d in records %}
          <tr>
            <th scope="row"> {{ forloop.counter }}</th>
            <td>{{d.courier}}</td>
            <td>{{d.from_destination}}</td>
            <td>{{d.to}}</td>
            <td>{{d.courier.min_kg}}</td>
            <td>R {{d.min_two_kg_rate}}</td>
            <td>R {{d.per_kilo_thereafter}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    <div  id="spinner" style=" left: 45%;display:None;
    position: absolute;
    top: 25%;">
            <div class="d-flex justify-content-center" >
            <div class="spinner-border text-danger" role="status" style="width: 5rem; height: 5rem;">
            <span class="sr-only">Loading...</span>
            </div>
            </div>
    </div>
</div>
{% endblock %}
{% block CSS_Link %}
 <link rel="stylesheet" href="{% static 'LogisticForOrder/add_rate_card.css' %}">
{% endblock %}

{% block JS %}
<script>
$("#submit").on("click",function() {
  $("#spinner").show();
}); 
$("#id_courier").change(function () {
      pk= $(this).val();
      $.ajax({
        url: "{% url 'min-kg-for-courier' %}",
        method:"POST",
        data: {
          'pk': pk
        },
        dataType: 'json',
        success: function (data) {
          if (data.min_kg) {
            $('label[for="id_min_kg_rate"]').text(`Min ${data["min_kg"]} kg rate`);
            console.log(`Min ${data["min_kg"]} kg rate`);
          }
        }
      });
    });
</script>
{% endblock %}
   